@{
    List<int> usersId = DAL.DB.Medias.SharingUsers();
    string selectedUser = (string)Session["SelectedUser"];
}

<select id="userSelect" class="form-control">
    <option value="" selected>Tous les usagers</option>
    @foreach (var userId in usersId)
    {
        User user = DAL.DB.Users.Get(userId);
        var userMedia = user.GetUserMediaList();
        string selected = selectedUser == user.Id.ToString() ? "selected" : "";
        <option value="@user.Id" @selected>@user.Name (@userMedia.Count())</option>
    }
</select>
